
/* .content_width{ 
    width: 90%!important;
    margin: auto;
}
header{
    background:black!important;

}
.first{
    background: black!important;
    text-align: center;
}
.menu li {
    padding: 0 5px;
}  */

.choice p{
    text-align: center;
    font-size: 30px;
    padding: 50px 0;
    font-family: 'Source Sans Pro', sans-serif;
}
.device a{
    color: rgb(153, 153, 153);
    padding: 0 30px;
    font-family: 'Source Sans Pro', sans-serif;
}
.device{
    padding: 50px 0;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid black;
    transition: 0.4s;
}

.device .nav-tabs{
    border: none;
    justify-content: center;
    padding-bottom: 75px;
}



.model-title{
    text-align: center;
}
.separator{
    border-top: 1px solid #dbd3d3;
}
.shud{
    margin: 10px 0;
}

/*iphone*/
.model-image{
    width: 80px;
    margin: auto;
}
.iphone-model img{
    width: 100%;
    height: 100%;
}
.iphone-model:hover{
    background: white;
    box-shadow: 0px 0px 60px 0px rgba(206, 206, 206, 0.5);
}
.iphone-model a{
    text-decoration: none;
}
.iphone-model a:hover{
    color: purple;
}


/*ipad*/

.model-image-ipad img{
    width: 100%;
    height: 100%;
}

.ipad-model:hover{
    background: white;
    box-shadow: 0px 0px 60px 0px rgba(206, 206, 206, 0.5);
}
.ipad-model a{
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
}
.ipad-model a:hover{
    color: purple;
}
/*macbook*/
.mac-model{
    width: 100%;
    text-align: center;
}
.model-image-mac img{
    width: 300px;
    margin: auto;
}
.mac-model:hover{
    background: white;
    box-shadow: 0px 0px 60px 0px rgba(206, 206, 206, 0.5);
}
.mac-model a{
        text-decoration: none;
        font-family: 'Source Sans Pro', sans-serif;
    }
.mac-model a:hover{
    color: purple;
    }



/*watch*/
.watch-model{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}
.model-image-watch img{
    width: 200px;
}
.watch-model:hover{
    background: white;
    box-shadow: 0px 0px 60px 0px rgba(206, 206, 206, 0.5);
}
.watch-model a{
        text-decoration: none;
        font-family: 'Source Sans Pro', sans-serif;
    }
.watch-model a:hover{
        color: purple;
    }

/*royal*/
.royal-title p{
    text-align: center;
    font-size: 30px;
    padding: 40px 0px;
    font-family: 'Source Sans Pro', sans-serif;
}
.royal{
    background: #f0e0d1;
}
.royal-all{
    display: flex;
}
.royal-image{
    text-align: center;
}
.royal-image img{
    height: 250px;
    margin: 20px;
}
/*repair-scheme*/
.cheme-steps p{
    text-align: center;
    font-size: 30px;
    padding: 70px 0px;
    font-family: 'Source Sans Pro', sans-serif;
}


.step{
    display: flex;
    justify-content: center;
}

.sheme{
    padding: 0 33px;
}

.step-circule{
    width: 94px;
    height: 94px;
    border-radius: 47px;
    box-shadow: 0 0 100px -30px #000;
    font-size: 55px;
    line-height: 94px;
    margin: 0 auto 30px;
}

.number{
    background-image: linear-gradient(to bottom,purple,#f19cf1);
    color: transparent;
    -webkit-background-clip: text;
    text-align: center;

}
.step-label{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

/*consultation*/
.consultation{
    padding: 90px 0;
}

.cons-block{
    background-image: url(../img/cons.jpg);
    height: 300px;
    max-width: 600px;
    margin: auto;
    box-shadow: 0px 0px 60px 0px rgba(206, 206, 206, 0.5);
}
.myform{
    padding: 20px;
    width: 100%;
}

.myform p{
    font-size: 30px;
    font-family: 'Source Sans Pro', sans-serif;
}
.form-group{
    padding: 10px 0;
    width: 300px;
}
.boton{
    background: linear-gradient(purple, #f19cf1);
    color: white;
    text-decoration:none;
    transition:all 0.3s;
    border-radius: 0;
    border: 1px solid #f19cf1!important;
    }
   .boton:hover{
    background: linear-gradient(#f19cf1,purple);
    color: white;
  }

  .telep{
      padding: 20px 70px;
  }
  .telep a{
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
    color: black; 
    padding-left: 40px;
  }
 .telep a:hover{
      text-decoration: none;
      color: purple;
  }

  .up{
    background: url(../img/ip2.jpg)no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 300px;
    text-align: right;
    padding:10px 40px;
}
.up a{
  text-decoration: none;
    color: white;
    font-size: 40px;
}
.up a:hover{
    text-decoration: none;
    color: purple;
}



/*table-scroll*/

.characteristic{
    margin-top: 70px;
}
.characteristic p{
    text-align: center;
    font-size: 40px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 40px;
}

.my-custom-scrollbar {
    position: relative;
    height: 450px;
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    }
td,th{
    background: white;
    border: none!important;
    font-size: 15px;
    color: grey;
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    background: white;
}

::-webkit-scrollbar-thumb{
    background: purple;
    border-radius: 15px;
}
tr{
    border-bottom: 1px solid rgb(133, 133, 133);
}









  @media (max-width: 425px){
      .sc-one{
        width: 391px;
      }
      .slideleft{
          display: none;
      }
      .step{
        flex-direction: column;
      }
      .sheme{
          padding: 10px 33px;
      }
      .up{
          padding: 0px 10px;
      }
      .up img{
        width: 600px;
      }
      .royal-title p{
          margin: 0 15px;
      }
      .telep a{
          padding-left: 20px;
      }
      .telep{
          padding: 40px 0;
      }
  }
